<%- include('layouts/header.ejs') -%>



    <a href="/">Back to Home</a>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
    <h1><%= review.title %></h1>

    <a href="/reviews/<%= review._id %>">
      <img src="<%= review.image %>" class="img-fluid" alt="Responsive image"> </a>

    <h1><%= review.rating %></h1>
    <h2><%= review.movieTitle %></h2>
    <p><%= review.description %></p>
    <p><a href="/reviews/<%= review._id %>/edit">Edit</a></p>
    
    <p><form method="POST" action="/reviews/<%= review._id %>?_method=DELETE">
        
            <button class="btn btn-primary" type="submit">Delete</button>
        </form></p>


<hr>

<% comments.forEach((comment) => { %>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><%= comment.title %></h4>
      <p class="card-text"><%= comment.content %></p>
       <!-- Delete link -->
    <p><form method="POST" action="/reviews/comments/<%= comment._id %>?_method=DELETE">
      <button class="btn btn-info" type="submit">Delete</button>
  </form></p>
    </div>
  </div>
  
<% }) %>

<%- include('layouts/comment-form.ejs') -%>

      </div>
    </div>
<%- include('layouts/footer.ejs') -%>

