<%- include('layouts/header.ejs') -%>

<h1>Reviews</h1>

<div class="row">


<% reviews.forEach((review) => { %>
    <div class="col-md-3">
    <h2><a href="/reviews/<%= review._id %>"><%= review.title %></a></h2>
    <small><%= review.movieTitle %></small>
    </div>
<% }) %>
</div>
<%- include('layouts/footer.ejs') -%>

